# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
nft/wp-admin/
nft/wp-content/index.php
nft/wp-content/languages
nft/wp-content/plugins/index.php
nft/wp-content/themes/index.php
nft/wp-includes/
nft/index.php
nft/license.txt
nft/readme.html
nft/wp-*.php
nft/xmlrpc.php

token/wp-admin/
token/wp-content/index.php
token/wp-content/languages
token/wp-content/plugins/index.php
token/wp-content/themes/index.php
token/wp-includes/
token/index.php
token/license.txt
token/readme.html
token/wp-*.php
token/xmlrpc.php

# Configuration
nft/wp-config.php
token/wp-config.php
# Example themes
nft/wp-content/themes/twenty*/
token/wp-content/themes/twenty*/
# Example plugin
nft/wp-content/plugins/hello.php
token/wp-content/plugins/hello.php
# Uploads
nft/wp-content/uploads/
token/wp-content/uploads/
# Log files
nft/*.log
token/*.log
# htaccess
#nft/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

#dApp
dApp/dapp_designnotes.txt
